@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:host {
    --font-default: 'DM Sans', sans-serif;
    font-family: var(--font-default);
}

.container-skills {  padding: 2rem 6rem 2rem 6rem;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tools-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
    padding: 2rem 8rem 2rem 8rem;
  }

   .title {
        color: var(--text-primary);
        font-weight: 700;
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    .divider {
        background-color: var(--primary-pink);
        width: 5rem;
        height: 0.7rem;
        margin-top: 2rem;
        margin-bottom: 3.5rem;
    }

  .tool-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.8rem;
    padding: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .icon {
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      margin-bottom: 0.75rem;
    }

    .name {
      font-weight: 500;
      font-size: 0.9rem;
      color: #333;
    }
  }
}