@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:host {
    --font-default: 'DM Sans', sans-serif;
    font-family: var(--font-default);
}

.container-academic {
    padding: 3rem 6rem;
    background-color: var(--primary-pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        color: white;
        font-weight: 700;
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    .divider {
        background-color: white;
        width: 5rem;
        height: 0.7rem;
        margin-top: 2rem;
        margin-bottom: 3.5rem;
    }

    .courses {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .title {
            font-size: 1.5rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        .list {
            display: flex;
            gap: 2rem;


            .card {
                border: 1px solid white;
                padding: 2rem;
                border-radius: 0.8rem;
                width: 40vh;
                text-align: center;
            }

            .name {
                color: white;
                font-weight: 600;
            }

            .icon-pos {
                display: block;
                margin: 0 auto 1rem auto;
                width: 5rem;
                height: 5rem;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url('../../../public/assets/icons/pos.svg');
            }

            .icon-grad {
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                 display: block;
                margin: 0 auto 1rem auto;
                width: 5rem;
                height: 5rem;
                background-image: url('../../../public/assets/icons/graduacao.svg');
            }

            .icon-tec {
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                 display: block;
                margin: 0 auto 1rem auto;
                width: 5rem;
                height: 5rem;
                background-image: url('../../../public/assets/icons/tecnico.svg');
            }
        }

        .name-course {
            font-weight: 600;
            color: white;
        }
    }

}