@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  background: white;
  padding: 1.5rem 5rem 1rem 5rem;
  border-bottom: 1px solid var(--divider-gray);

  .logo {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20vh;
    height: 9vh;
    background-image: url('../../../../assets/images/logo.svg');
  }

  &__links {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      color: #2a2f31;
      font-weight: 600;
      transition: color 0.3s;

      &:hover {
        color: var(--primary-pink);
      }
    }
  }

  &__button {
    border: 2px solid var(--primary-pink);
    color: var(--text-primary);
    background: transparent;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 0.8rem;

    &:hover {
      background: var(--primary-pink);
      color: #fff;
    }
  }
}