@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:host {
    font-family: 'Inter', sans-serif;

    .body-home-desktop {
        display: flex;

        .introdution {
            padding: 1rem 1rem 3rem 5rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 50%;

            .title {
                font-size: 2.8rem;
                font-weight: 600;

                .name {
                    color: var(--primary-pink);
                }
            }

            .subtitle {
                font-size: 1.2rem;
                font-weight: 600;
                margin-top: 0.8rem;
                margin-bottom: 0.8rem;

                .position {
                    color: var(--primary-pink);
                }
            }

            .tag {
                font-size: 3rem;
                font-weight: 600;
                color: var(--primary-pink);
                margin-bottom: 0.8rem;
                margin-top: 0.5rem;

            }

            .buttons {
                display: flex;
                gap: 1rem;
                margin-top: 0.8rem;

                .contact {
                    border: 2px solid var(--primary-pink);
                    color: #fff;
                    background: var(--primary-pink);
                    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    transition: all 0.3s;
                    font-size: 0.9rem;

                    &:hover {
                        background: transparent;
                        color: var(--text-primary);
                    }
                }

                .view-more {
                    border: 2px solid white;
                    color: var(--text-primary);
                    background: transparent;
                    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
                    border-radius: 0.5rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.3s;
                    font-size: 0.9rem;

                    &:hover {
                        border: 2px solid var(--primary-pink);
                    }
                }

            }
        }

        .perfil {
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            padding: 0.1rem 4rem 3rem 1rem;
            height: 80vh;
            width: 50%;

            .image {
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 66vh;
                height: 75vh;
                background-image: url('/assets/images/perfil.png');
            }
        }
    }
}